<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家計簿アプリ</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
	<body style="
   		background-image: url('/images/background.png');
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
	">

	<div class="container mt-4">

	    <h2 class="text-center mb-4">家計簿アプリ</h2>

	    <!-- タブ -->
	    <ul class="nav nav-tabs" id="myTab">
	        <li class="nav-item">
				<button class="nav-link"
				        th:classappend="${activeTab == 'input'} ? 'active'"
				        data-bs-toggle="tab"
				        data-bs-target="#input">入力</button>
	        </li>
	        <li class="nav-item">
				<button class="nav-link"
				        th:classappend="${activeTab == 'summary'} ? 'active'"
				        data-bs-toggle="tab"
				        data-bs-target="#summary">合計</button>
	        </li>
	        <li class="nav-item">
				<button class="nav-link"
				        th:classappend="${activeTab == 'graph'} ? 'active'"
				        data-bs-toggle="tab"
				        data-bs-target="#graph">グラフ</button>
	        </li>
	    </ul>

	    <div class="tab-content mt-3">

	        <!-- 入力タブ -->
			<div class="tab-pane fade"
			     th:classappend="${activeTab == 'input'} ? 'show active'"
			     id="input">

				 <div class="card p-3 mb-3">

				     <form action="/add" method="post">

				         <!-- 1行目 -->
				         <div class="row mb-3 align-items-center">

				             <!-- 日付 -->
				             <div class="col-md-6">
				                 <input type="date"
				                        name="date"
				                        class="form-control">
				             </div>

				             <!-- ラジオボタン -->
				             <div class="col-md-6">

				                 <div class="form-check form-check-inline">
									<input class="form-check-input"
									       type="radio"
									       name="type"
									       value="income"
									       th:checked="${selectedType == 'income'}">

				                     <label class="form-check-label">
				                         収入
				                     </label>
				                 </div>

				                 <div class="form-check form-check-inline">
									<input class="form-check-input"
									       type="radio"
									       name="type"
									       value="expense"
									       th:checked="${selectedType == 'expense'}">

				                     <label class="form-check-label">
				                         支出
				                     </label>
				                 </div>

				             </div>

				         </div>

				         <!-- 2行目 -->
				         <div class="row mb-3">

				             <!-- 金額 -->
				             <div class="col-md-6">
				                 <input type="number"
				                        name="amount"
				                        class="form-control"
				                        placeholder="金額">
				             </div>

				             <!-- カテゴリ -->
				             <div class="col-md-6">
				                 <input type="text"
				                        name="category"
				                        class="form-control"
				                        placeholder="カテゴリ（給与/光熱費/食費 等）">
				             </div>

				         </div>

				         <!-- 3行目 -->
				         <div class="row align-items-center">

				             <!-- メモ -->
				             <div class="col-md-9">
				                 <input type="text"
				                        name="memo"
				                        class="form-control"
				                        placeholder="メモ">
				             </div>

				             <!-- 追加ボタン -->
				             <div class="col-md-3">
				                 <button class="btn btn-primary w-100">
				                     追加
				                 </button>
				             </div>

				         </div>

				     </form>

				 </div>
				 
	            <!-- テーブル -->
	            <div class="card p-3">
	                <table class="table table-striped">
	                    <thead>
	                        <tr>
	                            <th>日付</th>
	                            <th>金額</th>
	                            <th>カテゴリ</th>
	                            <th>メモ</th>
	                            <th>種別</th>
	                            <th>削除</th>
	                            <th>編集</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="t : ${transactions}">
	                            <td th:text="${t.date}"></td>
								<td
								    th:text="${#numbers.formatInteger(t.amount, 0, 'COMMA')}"
								    th:class="${t.type == 'income'} ? 'text-primary fw-bold' : 'text-danger fw-bold'">
								</td>
	                            <td th:text="${t.category}"></td>
	                            <td th:text="${t.memo}"></td>
	                           <td th:text="${t.type == 'income' ? '収入' : '支出'}"></td>

	                            <td>
	                                <form action="/delete" method="post">
	                                    <input type="hidden" name="id" th:value="${t.id}">
	                                    <button class="btn btn-danger btn-sm">削除</button>
	                                </form>
	                            </td>

	                            <td>
	                                <a th:href="@{/edit(id=${t.id})}" class="btn btn-warning btn-sm">編集</a>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
			 </div>

	        <!-- 合計タブ -->
			<div class="tab-pane fade"
			     th:classappend="${activeTab == 'summary'} ? 'show active'"
			     id="summary">
			    <div class="card p-4">

			        <form method="get" action="/">
						
						<input type="hidden" name="activeTab" value="summary">

			            <div class="row mb-3">

			                <!-- 年 -->
			                <div class="col">
								<select name="year" class="form-select" onchange="this.form.submit()">
								    <option th:each="y : ${years}"
								            th:value="${y}"
								            th:text="${y}"
								            th:selected="${y == year}">
								    </option>
								</select>
			                </div>

			                <!-- 月 -->
			                <div class="col">
								<select name="month" class="form-select" onchange="this.form.submit()">
								    <option th:each="m : ${#numbers.sequence(1,12)}"
								            th:value="${m}"
								            th:text="${m + '月'}"
								            th:selected="${m == month}">
								    </option>
								</select>
			                </div>

			            </div>

						<!-- チェックボックス -->
						<div class="mb-3">
						    <label>
						       <input type="checkbox"
						              name="showIncome"
						              th:checked="${showIncome}"
						              onchange="this.form.submit()">
						       収入
						    </label>

						    <label class="ms-3">
						       <input type="checkbox"
						              name="showExpense"
						              th:checked="${showExpense}"
						              onchange="this.form.submit()">
						       支出
						    </label>
						</div>

			        </form>

			        <hr>

			        <!-- 結果表示 -->
					<h4>
					    収入：
					    <span class="text-primary fw-bold"
					          th:text="${#numbers.formatInteger(income, 0, 'COMMA')}">
					    </span>
					    円
					</h4>

					<h4>
					    支出：
					    <span class="text-danger fw-bold"
					          th:text="${#numbers.formatInteger(expense, 0, 'COMMA')}">
					    </span>
					    円
					</h4>

					<h4 class="mt-4">一覧</h4>

					<table class="table table-striped">
					    <thead>
					        <tr>
					            <th>日付</th>
					            <th>金額</th>
					            <th>カテゴリ</th>
					            <th>メモ</th>
					            <th>種別</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr th:each="t : ${filteredTransactions}">
					            <td th:text="${t.date}"></td>
								<td
								    th:text="${#numbers.formatInteger(t.amount, 0, 'COMMA')}"
								    th:class="${t.type == 'income'}
								        ? 'text-primary fw-bold'
								        : 'text-danger fw-bold'">
								</td>
					            <td th:text="${t.category}"></td>
					            <td th:text="${t.memo}"></td>
					           <td th:text="${t.type == 'income' ? '収入' : '支出'}"></td>
					        </tr>
					    </tbody>
					</table>
			    </div>
			</div>

	        <!-- グラフタブ -->
			<div class="tab-pane fade"
			     th:classappend="${activeTab == 'graph'} ? 'show active'"
			     id="graph">
			    <div class="card p-4 text-center">


			        <!-- 円グラフ -->
			        <div style="width:300px; margin:auto;">
			            <canvas id="myChart"></canvas>
			        </div>

			        <!-- ↓ここから横並びに変更 -->
			        <div class="row mt-4">

			            <!-- 月別 -->
			            <div class="col-md-6">
			                <h4>月別支出</h4>
			                <div style="height:300px;">
			                    <canvas id="monthlyChart"></canvas>
			                </div>
			            </div>

			            <!-- カテゴリ別 -->
			            <div class="col-md-6">
			                <h4>カテゴリ別支出</h4>
			                <div style="height:300px;">
			                    <canvas id="categoryChart"></canvas>
			               </div>
			           </div>
					   
				  	</div>
					
			
	<script th:inline="javascript">
	/*<![CDATA[*/

	// 円グラフ
	const income = /*[[${income}]]*/ 0;
	const expense = /*[[${expense}]]*/ 0;

	new Chart(document.getElementById('myChart'), {
	    type: 'pie',
	    data: {
	        labels: ['収入', '支出'],
	        datasets: [{
	            data: [income, expense],
	            backgroundColor: ['#4CAF50', '#F44336']
	        }]
	    },
	    options: {
	        responsive: true,
	        maintainAspectRatio: false
	    }
	});

	// 月別グラフ
	const incomeData = /*[[${incomeData}]]*/ {};
	const expenseData = /*[[${expenseData}]]*/ {};

	const labels = Array.from({length: 12}, (_, i) => (i + 1) + "月");

	const incomeValues = labels.map((_, i) => incomeData[i + 1] || 0);
	const expenseValues = labels.map((_, i) => expenseData[i + 1] || 0);

	new Chart(document.getElementById('monthlyChart'), {
	    type: 'bar',
	    data: {
	        labels: labels,
	        datasets: [
	            {
	                label: '収入',
	                data: incomeValues
	            },
	            {
	                label: '支出',
	                data: expenseValues
	            }
	        ]
	    },
	    options: {
	        responsive: true,
	        maintainAspectRatio: false
	    }
	});
	
	// カテゴリ別グラフ
	const categoryData = /*[[${categoryData}]]*/ {};

	const categoryLabels = Object.keys(categoryData);
	const categoryValues = Object.values(categoryData);

	new Chart(document.getElementById('categoryChart'), {
	    type: 'pie',
	    data: {
	        labels: categoryLabels,
	        datasets: [{
	            data: categoryValues
	        }]
	    },
	    options: {
	        responsive: true,
	        maintainAspectRatio: false
	    }
	});

	/*]]>*/
	</script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
			
			<script>
			document.querySelectorAll('[data-bs-toggle="tab"]').forEach(tab => {
			    tab.addEventListener('shown.bs.tab', function (event) {

			        const target = event.target.getAttribute("data-bs-target").replace("#", "");

			        const url = new URL(window.location);

			        url.searchParams.set("activeTab", target);

			        history.replaceState(null, "", url);
			    });
			});
			</script>
	</body>
</html>